@model bool

<span>
    @*If True fill star in, if false outline star*@
    <i class="glyphicon @(Model ? "glyphicon-star" : "glyphicon-star-empty")"
       data-toggle="star"
       data-id="@ViewBag.Id"></i> 
</span>