@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="text-center">Eleven Note</h1>
    <p class="text-center">A cross platform web and mobile application for creating and storing user notes.<br />Implemented for Android and iOS devices using Xamarin forms.<br /> Try to create your own!</p>
    <p class="text-center"><a href="/Note" class="btn btn-primary btn-lg">Go To Notes&raquo;</a></p>
</div>
